
.row {
    display: flex; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content:center; 
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap:wrap; 
   
    gap: 16px; 
}


     .card-img {
        width: 30%;
        border-radius: 1rem 1rem 0 0;
    }
  
    .card-title {
        margin: 0.5rem 5%;
        text-align: center; 
        font-size: 1.5rem;
        text-decoration: none;
        color: $teal;
        font-family: "Tilt Neon", sans-serif;
    }
  
    .card-description {
        margin: 0.5rem 5%;
        text-align: center; 
        font-size: 1rem;
        text-decoration: none;
        color: $charcoal;
        font-family: "Tilt Neon", sans-serif;
     }
  
    .card-btn {
        text-align: center;
        width: 90%;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: #2563eb;
        color: white;
        text-decoration: none;
        margin: 0.5rem 0.5rem;
    } 
